<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Home{% endblock %}
    {% block content %}
        <h1>Welcome to our Flask App 💻</h1>
        <p>This is the home page with new styling.</p>
        <a href="/user/Rohan">Visit Your Profile</a>
        <form action="/greet" method="get" style="margin-top:16px;">
        <label>Enter your name:</label>
        <input name="name" placeholder="Your Name" />
        <button type="submit">Greet me</button>
        </form>
        <hr>
        <p>Quick demos:</p>
        <ul>
            <li><a href="/who/Rohan">Who is Rohan?</a></li>
            <li><a href="/divide?a=8&b=2">Divide 8 by 2</a></li>
            <li><a href="/divide?a=5&b=0">Divide 5 by 0</a></li>
        </ul>
    {% endblock %}
</body>
</html>
