<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Home{% endblock %}
    {% block content %}
        <h1>Welcome to our Flask App 💻</h1>
        <p>This is the home page with new styling.</p>
        <a href="/user/Rohan">Visit Your Profile</a>
        <form action="/greet" method="get" style="margin-top:16px;">
        <label>Enter your name:</label>
        <input name="name" placeholder="Your Name" />
        <button type="submit">Greet me</button>
        </form>
    {% endblock %}
</body>
</html>
